footer div > img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 428px) {
    footer {
    }
}


@media screen and (min-width: 429px) {
    footer {
        background-color: #141E61;
        border-radius: 25px 25px 0 0;
        display: flex;
        gap: 8%;
        padding: 2%;
    }

    footer p {
        color: white;
    }

    footer div > p {
        margin-top: auto;
    }

    footer div {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    footer > div:nth-of-type(1) > img:nth-of-type(1) {
        height: 12%;
        width: min-content;
        margin-top: 15%;
    }

    footer > div:nth-of-type(2) {
        align-items: center;
    }

    footer > div:nth-of-type(2) > img:nth-of-type(1) {
        width: 70%;
        height: auto;
    }

    footer > div:nth-of-type(3) {
        flex-direction: row;
        gap: 4%;
    }

    footer > div:nth-of-type(3) > img:nth-of-type(1) {
        height: 40%;
        width: auto;
        margin-top: auto;
    }

    footer > div:nth-of-type(3) > div {
        margin-right: 10%;
    }

    footer > div:nth-of-type(3) > div > p {
        margin-left: auto;
    }
}