/*=============================================================================================================================================== 
=                                                           CSS POUR ECRAN LARGE                                                                =
=================================================================================================================================================*/

@font-face {
    font-family: 'Amoresa';
    src: url('polices/Amoresa.ttf') format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    src: url('polices/Cinzel-Regular.ttf') format('truetype');
}

@media screen and (min-width: 1440px) {
    
    
}

/*=============================================================================================================================================== 
=                                                           CSS POUR ECRAN PETIT                                                                =
=================================================================================================================================================*/

@media screen and (max-width: 1023px) {
    
    
}