    /*polices et taille de police pour pc*/


    @font-face {
        font-family: Amoresa;
        src: url(polices/Amoresa.ttf);
    }

    @font-face {
        font-family: Cinzel;
        src: url(polices/Cinzel-Regular.ttf);
    }

/*=============================================================================================================================================== 
=                                                           CSS POUR PETIT ECRAN                                                                =
=================================================================================================================================================*/


@media screen and (max-width: 428px) {

    body{
        font-family: 'Montserrat';
        font-size: 10px;
        color: #000;
        text-align: center;
    }

    h1{
        font-size: 48px;
        font-family: "Cinzel";
    }

    
    h2{
        font-size: 16px;
        font-family: "Cinzel";
    }

    h3{
        font-size: 13px;
        font-weight: bold;
    }

    table{
        border-collapse: collapse;
        
    }

    thead{
        background-color: #FFE26E;
    }
    tbody{
        background-color: #fff;
    }
    th,td{
        border: 1px solid #000;
    }

    .Titre{
        background-image: url("images/image_titre.png");
        background-size: cover;
        color: #fff;
        position: relative;
    }
    h1:first-of-type::first-letter{
        font-family: "Amoresa"; src:"polices/Amoresa.ttf";
    }
    .Titre>h1:nth-of-type(2){
        font-size: 32px;
    }

    .Premiere_zone{
        width: 100%;
        position: relative;
        top: -2.7em;
    }
    .Premiere_zone>img{
        width: 95%;
        height: auto;
        position: relative;
        top:28em;
        z-index: 0;
    }
    .Premiere_zone>img:nth-of-type(2){
        display: none;
    }
    .Premiere_zone>div{
        background-color: #141E61;
        width: 54%;
        height: 25%;
    }
    .Premiere_zone>div:first-of-type{
        width: 66%;
        position: absolute;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(2){
        background-color: #fff;
        width: 40%;
        height: 52%;
        position: absolute;
        left: 62% ;
        border-radius: 25px;
    }
    .Premiere_zone>div:nth-of-type(2)>img{
        width: 80%;
        height: auto;
        position: relative;
        top: 15%;
        z-index: 1;
    }
    .Premiere_zone>div:nth-of-type(3){
        position: absolute;
        top: 47%;
        left:48.2%;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(4){
        position: absolute;
        top: 58%;
        left: 48.2%;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(5){
        position: absolute;
        left: 0;
        top:125%;
        z-index: -2;

    }
    .Présentation{
        width: 95%;
        height: 68%;
        position: absolute;
        top: 20px;
        background-color: #fff;
        border-radius: 25px;
    }
    .Présentation>h2{
        width: 39%;
        position: relative;
        left: 17%;
        top: 10%;
    }
    .Présentation>p{
        width: 70%;
        position: relative;
        left: 2%;
        top: 25%;
    }


    .site{
        width: 98%;
        height: 68%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left:20px;
        top: 78%;
        border-radius: 25px;
        background-color: #fff;
        z-index: -1;
    }
    .site>h2{
        width: 58%;
        position: relative;
        left: 27%;
    }
    .site>div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        position: relative;
    }

    .site>div>img{
        width: 90%;
        height: auto;
        position: relative;
        left: 2%;
        top: 15%;
        margin: 1em;
    }

    .site>div>p{
        width: 110%;
    }

    .Deroulement>div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 28em;
    }
    .Deroulement>div>h2{
        margin: 0;
    }
    .Deroulement>div> hr{
        color: #F50022 ;
        background-color: #F50022;
        width:77%;
        height: 2px;
        border: solid;
    }

    .Deroulement>div>p{
        width: 68%;
    }

    .Deroulement+img{
        display: none;
    }


    .Podium{
        position: absolute;
        top: 140em;
        width: 100%;
    }
    .Podium>div:nth-of-type(2)>article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Podium>div:nth-of-type(2)>article>h2{
        margin: 0;
    }
    .Podium>div:nth-of-type(2)>article>div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .Podium>div:nth-of-type(2)>article>div>div{
        border-radius: 10px;
        width: 26%;
        height: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 15px 0;
    }
    .Podium>div:nth-of-type(2)>article>div>div>img{
        width: 18%;
        height: auto;
    }
    .Podium>div:nth-of-type(2)>article>div>div>div{
        font-size: 13px;
    }
    .Podium>div:nth-of-type(2)>article>div>div:first-of-type{
        background-color: #FFE26E;
    }

    .Podium>div:nth-of-type(2)>article>div>div:nth-of-type(2){
        background-color: #A2D3FD;
    }
    .Podium>div:nth-of-type(2)>article>div>div:nth-of-type(3){
        background-color: #AD5655;
    }
    .Podium>div:nth-of-type(2)>article>div>div>figure{
        width: 25%;
    }
    .Podium>div:nth-of-type(2)>article>div>div>figure>img{
        width: 100%;
        height: auto;
    }

    .Podium>div:first-of-type{
        background-color: #141E61;
        width: 90%;
        height: 20em;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-radius: 10px;
    }
    .Podium>div:nth-of-type(2){
        background-color: #fff;
        width: 90%;
        height: 20em;
        position: absolute;
        left: 1em;
        top: 1em;
        z-index: 0;
        border-radius: 10px;
    }
    .Podium>div:nth-of-type(3){
        background-color: #F50022;
        width: 90%;
        height: 20em;
        position: absolute;
        left: 2em;
        top: 2em;
        z-index: -2;
        border-radius: 10px;
    }


    .Résultats{
        display: flex;
        flex-direction: column;
        align-content: center;
        position: relative;

    }

    .Résultats>h2{
        margin: 0;
        width: 54%;
        height: 44px;
        position: relative;
        left: 22%;
        top: 35em;
    }

    .Résultats> hr{
        background-color: #141E61;
        color: #141E61;
        width: 59%;
        height: 4px;
        position: relative;
        top: 55.5em;
    }

    .Résultats>div>table{
        margin: 30px;
    } 

    .Résultats>div:first-of-type{
        width: 86%;
        height: 230px;
        position: relative;
        left: 7%;
        top: 55em;
        background-color: #fff;
        z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
    }

    .Résultats>div:nth-of-type(2){
        background-color: #141E61;
        width: 27%;
        height: 100px;
        position: absolute;
        left: 2%;
        top: 75em;
        z-index: -2;
    }

    .Résultats>div:nth-of-type(3){
        background-color: #141E61;
        width: 27%;
        height: 100px;
        position: absolute;
        left: 71%;
        top: 75em;
        z-index: -2;
    }

    .Moments{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #141E61;
        width: 100%;
        height: 38em;
        position: relative;
        top: 60em;
        z-index: -2;
    }

    .Moments>h2{
        color: #fff;
        width: 39%;
        position: absolute;
        left: 57%;
        top: 10%;
    }

    .Moments>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Moments>div>figure{
        width: 200px;
        height: 140px;
    }

    .Moments>div>div{
        background-color: #F50022;
        width: 24%;
        height: 18%;
    }

    .Moments>div>div:first-of-type{
        position: absolute;
        left: 0;
        top: 5%;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(2){
        position: absolute;
        left: 34%;
        top: 32%;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(3){
        position: absolute;
        left: 45%;
        bottom: 7%;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(4){
        position: absolute;
        right: 0px;
        top: 48%;
        z-index: -1;
    }

    .Moments>div>img{
        width: 44%;
        height: auto;
        position: absolute;
        left: 0px;
        top: 50%;
    }

    .Moments>div>figure>img{
        width:47% ;
        height:36% ;
        position: absolute;
        left: 10px;
        top: 30px;
    }

    .Moments>div>video{
        width: 47%;
        height: 36%;
        position: absolute;
        left: 50%;
        top: 200px;
    }



    .Récap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: 80em
    }

    .Récap>h2{
        width: 88%;
        margin: 0;
        position: relative;
        top: -10em;
    }

    .Récap>div>table{
        width: 93%;
        height: 90%;
        margin: 4vh;
        margin-top: 6vh;
    }

    .Récap>div:first-of-type{
        background-color: #fff;
        width: 88%;
        position: relative;
        top: -15em;
        z-index: -1;
        border-radius: 10px;
    }

    .Récap>div:nth-of-type(2){
        background-color: #F50022;
        width: 88%;
        height: 80%;
        position: absolute;
        left: 10%;
        top:-9em;
        border-radius: 10px;
        z-index: -2 ;
    }

    .Récap>img{
        display: none;
    }

    footer{
        position: relative;
        top: 70em;
        border: 1px solid;
    }

}

/*=============================================================================================================================================== 
=                                                           CSS POUR ECRAN LARGE                                                                =
=================================================================================================================================================*/




@media screen and (min-width: 429px) {
    
    body{
        font-family: 'Montserrat';
        font-size: 16px;
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;
        align-items: center;    
    }

    header {
        background-color: #141E61;
        padding: 0 1rem 0.5rem 0.5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 25px 25px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    header section {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    header img {
        height: 120px;
        padding: 5px;
        margin-right: 18%;

    }

    header nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 18%;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 34px;
        transition: color 0.3s;
    }

    header nav ul li a:hover {
        color: #FFE26E;
    }

    header + * {
        margin-top: 20px;
    }

  
    h1{
        font-size: 128px;
        font-family: "Cinzel";
    }

    
    h2{
        font-size: 48px;
        font-family: "Cinzel";
    }

    h3{
        font-size: 36px;
        font-weight: bold;
    }

    table{
        border-collapse: collapse;
        
    }

    thead{
        background-color: #FFE26E;
    }
    tbody{
        background-color: #fff;
    }
    th,td{
        border: 1px solid #000;
    }

    .Titre{
        background-image: url("images/image_titre.png");
        background-size: cover;
        color: #fff;
        height: 895px;
        width: 100%;
    }
    h1:first-of-type::first-letter{
        font-family: "Amoresa"; src:"polices/Amoresa.ttf";
    }
    .Titre>h1:nth-of-type(2){
        font-size: 110px;
    }

    .Premiere_zone{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }
    .Premiere_zone>img:first-of-type{
        display: none;
    }
    .Premiere_zone>img{
        width: 30%;
        height: 100%;
    }
    .Premiere_zone>div{
        background-color: #141E61;
        width: 25%;
        height: 45%;
    }
    .Premiere_zone>div:first-of-type{
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(2){
        display: none;
    }
    .Premiere_zone>div:nth-of-type(3){
        position: absolute;
        top:70%;
        left: 15%;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(4){
        position: absolute;
        left: 60%;
        top: 70%;
        z-index: -1;
    }
    .Premiere_zone>div:nth-of-type(5){
        position: absolute;
        right: 0;
        top:0;
        z-index: -1;

    }
    .Présentation{
        width: 44%;
        height: auto;
        position: relative;
        left:0;
        top: 30px;
        background-color: #fff;
        border-radius: 25px;
    }
    .Présentation>p{
        width: 90%;
    }
    .site{
        width: 44%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 0;
        top: 30px;
        border-radius: 25px;
        background-color: #fff;
    }

    .site>div{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        width: 100%;
        height: 56%;
    }
    .site>div>p{
        width: 59%;
        height: 75%;
    }

    .site>div>img{
        width: 41%;
        height: auto;
        margin: 1em;
    }
    

    .Deroulement>div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
        margin-top: 200px;
    }
    .Deroulement>div>h2{
        margin: 0;
    }
    .Deroulement>div> hr{
        color: #F50022 ;
        background-color: #F50022;
        width:54%;
        height: 10px;
        border: solid;
    }

    .Deroulement>div>p{
        width: 700px;
    }

    .Deroulement+img{
        width: 16%;
        height: auto;
        position: absolute;
        right: 0;
        top: 1700px;
    }

    .Podium>div:nth-of-type(2)>article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Podium>div:nth-of-type(2)>article>h2{
        margin: 0;
    }
    .Podium>div:nth-of-type(2)>article>div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .Podium>div:nth-of-type(2)>article>div>div{
        border-radius: 10px;
        width: 18vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vh 4vw 0;
    }
    .Podium>div:nth-of-type(2)>article>div>div>img{
        width: 55px;
        height: 55px;
    }
    .Podium>div:nth-of-type(2)>article>div>div>div{
        font-size: 36px;
        margin: 10px 0;
    }
    .Podium>div:nth-of-type(2)>article>div>div:first-of-type{
        background-color: #FFE26E;
    }

    .Podium>div:nth-of-type(2)>article>div>div:nth-of-type(2){
        background-color: #A2D3FD;
    }
    .Podium>div:nth-of-type(2)>article>div>div:nth-of-type(3){
        background-color: #AD5655;
    }

    .Podium>div:nth-of-type(2)>article>div>div>figure>img{
        width: 90px;
        height: 90px;
    }

    .Podium>div:first-of-type{
        background-color: #141E61;
        width: 80%;
        height: 500px;
        position: absolute;
        z-index: -1;
        left: 8%;
        margin-top: 30px;
        border-radius: 10px;
    }
    .Podium>div:nth-of-type(2){
        background-color: #fff;
        width: 80%;
        height: 500px;
        position: absolute;
        z-index: 0;
        left: 10%;
        margin-top: 60px;
        border-radius: 25px;
    }
    .Podium>div:nth-of-type(3){
        background-color: #F50022;
        width: 80%;
        height: 500px;
        position: absolute;
        z-index: -2;
        left: 12%;
        margin-top: 90px;
        border-radius: 10px;
    }


    .Résultats{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 40em;
        width: 100%;
        height: auto;
        position: relative;
    }

    .Résultats>h2{
        margin: 0;
        width: 48%;
        height: 15vh;
        position: relative;
        left: 26%;
        margin-bottom: 4vh;
    }

    .Résultats> hr{
        background-color: #141E61;
        width: 54%;
        height: 9px;
        position: relative;
        left: 0;
    }

    .Résultats>div>table{
        width: 95%;
        height: 90%;
        margin: 30px;
        margin-top: 3vh;
    }

    .Résultats>div:first-of-type{
        width: 80%;
        height: 40vh;
        position: relative;
        background-color: #fff;
        z-index: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 10px;
        left: 10%;
    }

    .Résultats>div:nth-of-type(2){
        background-color: #141E61;
        width: 25%;
        height: 15vh;
        position: absolute;
        left: 8%;
        top: 80%;
        z-index: -2;
    }

    .Résultats>div:nth-of-type(3){
        background-color: #141E61;
        width: 25%;
        height: 15vh;
        position: absolute;
        z-index: -2;
        top: 80%;
        right: 8%;
    }

    .Moments{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #141E61;
        width: 100%;
        height: 60vh;
        position: relative;
        z-index: -2;
        margin-top: 8em;
    }

    .Moments>h2{
        color: #fff;
        width: 31%;
        height: 2vh;
        position: absolute;
        left: 32.5%;
        top: -10px;
    }

    .Moments>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Moments>div>figure{
        width: 33%;
        height: 3vh;
    }

    .Moments>div>div{
        background-color: #F50022;
        width: 14%;
        height: 18vh;
    }

    .Moments>div>div:first-of-type{
        position: absolute;
        left: 2%;
        top: 6vh;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(2){
        position: absolute;
        left: 25%;
        top: 36vh;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(3){
        position: absolute;
        right: 29%;
        top: 36vh;
        z-index: -1;
    }
    .Moments>div>div:nth-of-type(4){
        position: absolute;
        left: 80% ;
        top: 6vh;
        z-index: -1;
    }

    .Moments>div>img{
        width: 20%;
        height: auto;
        position: absolute;
        left: 38.5%;
        top: 20vh;
        z-index: -1;
    }

    .Moments>div>figure>img{
        width:33% ;
        height:40vh ;
        position: absolute;
        left: 4%;
        top: 10vh;
    }

    .Moments>div>video{
        width: 33%;
        height: 40vh;
        position: absolute;
        right: 8%;
        top: 10vh;
    }



    .Récap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 20px;
        width: 100%;
    }

    .Récap>h2{
        width: 90%;
        margin: 0;
    }

    .Récap>div>table{
        width: 90%;
        height: 90%;
        margin-top: 6v;
        margin-left:  5vh;
    }

    .Récap>div:first-of-type{
        background-color: #fff;
        width: 62.5%;
        height: 45vh;
        position: relative;
        z-index: -1;
        left: 0%;
        top: 0%;
        border-radius: 25px;
        margin-top: 18vh;
    }

    .Récap>div:nth-of-type(2){
        background-color: #F50022;
        width: 62.5%;
        height: 45vh;
        position: absolute;
        border-radius: 10px;
        left: 21%;
        top: 25%;
        z-index: -2 ;
        margin-top: 20vh;
    }

    .Récap>img{
        width: 17%;
        height: auto;
        position: absolute;
        left: 0;
        top: 40%;
    }

    footer{
        position: relative;
    }
}
