/**********************************************************************/
/*mise en forme du header*/
/**********************************************************************/

header {
    background-color: #141E61;
    padding: 0 1rem 0.5rem 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 25px 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

header img {
    height: 120px;
    padding: 5px;
    margin-right: 18%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18%;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 34px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #FFE26E;
}

header + * {
    margin-top: 115px;
}

/**********************************************************************/
/*mise en forme des images*/
/**********************************************************************/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section > img:first-of-type { /*image des médailles*/
    bottom: -130px;
    left: 75%;
    width: 450px;
    height: 150px;
}

section > figure > img:first-child { /*image du drapeau francais circulaire*/
    display: flex;
    justify-content: center;
    width: 230px;
    height: 230px;
    position: relative;
    left: 25%;
    top: 10%;
}

section > figure > img:last-child { /*image du logo de natation*/
    width: 250px;
    height: 125px;
    position: relative;
    left: 25%;
    top: 15%;
}

section > nav > img { /*groupe des images de insta, facebook et hashtag*/
    width: 150px;
    height: 150px;
    position: relative;
    top: 20%;
    left: 20%;
}

.image1 { /*image du groupe de médailles*/
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 10px;
}

/**********************************************************************/
/*mise en forme de la premiere section*/
/**********************************************************************/

.coucou1{ /*image de léon marchand*/
    position: relative; /*permet de ne pas influer sur le positionnement des autres éléments*/
    background-color: #141E61;
    height: 3000px;
    width: 100%;
    background-image: url(images/Léon_marchand.png); /*image de léon marchand*/
    background-repeat: no-repeat;
    background-size: contain;       /*width puis height*/
    background-position: right; /*permet de */
}

.coucou1 > figure { /*images de le france et natation*/
    display: flex;
    flex-direction: column; /*permet d'influer sur la direction des éléments, ils sont tous en colonne*/
    justify-content: center; /*place les éléments au milieu du bloc parent*/
    position: relative; /*place précisement les éléments*/
    bottom: 70px;
    left: 570px;
}

.coucou1 > nav { /*images des logos insta et tout*/
    display: flex;
    flex-direction: row; /*permet d'influencer sur la direction des éléments, ils sont tous en ligne*/
    position: relative;
    left: 20%;
}

.coucou1 > figure > img { /*images de la france et du logo de la natation*/
    padding: 20px; /*espace les éléments entre eux*/
}

.coucou1 > nav > img { /*images insta, facebook et hashtag*/
    padding: 30px; /*espace les éléments entre eux*/
}

.coucou1 > h1 { /*titre leon marchand*/
    position: relative;
    bottom: 10px;
    color: white;
    font-size: 120px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 3px;
}

.coucou1 > h1::first-letter { /*premiere lettre du titre*/
    font-family: 'fantasy';
}

/**********************************************************************/
/*mise en forme de la deuxième section*/
/**********************************************************************/

.coucou2 { /*classe définissant la deuxième section*/
    position: relative;
    margin-top: 50px;
    z-index: 1; /*pour mettre en avant plan car les autres parties se saccadet*/
    background-color: #141E61;
    padding: 10px;
    /*text-align: center;*/
}

.coucou2 > h2 { /*sous titre de la deuxième partie*/
    display: flex;
    justify-content: center;
    font-variant: small-caps;
    color: #fff;
    font-weight:bold;
    font-size: 120px;
}

.coucou2 > article { /*article de la deuxième partie*/
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    padding: 50px;
    margin: 50px; /*permet de bien dimensionner l'article 'description de l'athlète' dans la deuxième section*/
    margin-bottom: 60px;
}

.coucou2 > article > h3 { /*sous-titre de la deuxième partie*/
    font-size: 100px;
}

.coucou2 > article > h3 + p { /*paragraphe de la deuxième partie*/
    font-size: 60px;
}


.coucou2 > article > ul > li { /*liste de l'article de la dexième partie*/
    font-size: 60px;
}

.block_rouge1, .block_rouge2, .block_rouge3, .block_rouge4 {
    position: absolute; /* Positionnement absolu relatif à .coucou2 */
    background-color: red;
    width: 500px; /* Largeur des carrés */
    height: 200px; /* Hauteur des carrés */
}

.block_rouge1 { /*mise en place des blocks rouges en arrière plan*/
    top: 310px;
    left: 30px;
}

.block_rouge2 {
    bottom: 30px;
    left: 30px;
}

.block_rouge3 {
    top: 310px;
    right: 30px;
}

.block_rouge4 {
    bottom: 30px;
    right: 30px;
}

/**********************************************************************/
/*mise en place de la 3eme section, club de sport*/
/**********************************************************************/

.coucou3 { /*classe définissant la troisième partie*/
    position: relative;
    z-index: 3;
    margin-top: 50px;
    background-color: #fff;
    border: 15px solid black;
    background-image: url(jo-2024-main/images/profil/club_dauphins_TOEC.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; /*image redimmensionné proportionnellement*/
    height: 35%;
    width: 100%;
    margin: 1%;
}

.coucou3 > article > div {  /*conteneur de l'image*/
    display: flex; /*conteneur de l'image en flex pour pouvoir placer l'image au milieu*/
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.coucou3 > article > div > img { /*image du dauphin du TOEC*/
    position: absolute;
    width: 450px; 
    height: 425px;
    top: 30%;
    border-radius: 10px;
}

section > article > h2 { /*sous-titre de la troisième partie*/
    position: relative;
    left: 200px;
    font-size: 120px;
}

section > article > h2 + h3 {
    position: relative;
    left: 200px;
    font-size: 100px;
}

section > article > h2 + h3 + p {
    position: relative;
    left: 200px;
    width: 40%;
    font-size: 80px;
}

.block_bleu1, .block_bleu2 { /*définition des blocks bleux*/
    position: absolute;
    z-index: 1;
    background-color: #141E61;
    width: 30%; /* Largeur des carrés */
    height: 25%; /* Hauteur des carrés */
    
}

.block_bleu1 {
    top: -80px;
    right: -50px;
}

.block_bleu2 {
    bottom: -80px;
    left: -50px;
}

/**********************************************************************/
/*mise en place du titre de la 4eme partie*/
/**********************************************************************/

.coucou4 {
    background-color: #141E61;
    margin-top: 3%;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coucou4 > h2 {
    color: #fff;
    font-size: 80px;
}
