    /*polices*/


    @font-face {
        font-family: Amoresa;
        src: url(polices/Amoresa.ttf);
    }

    @font-face {
        font-family: Cinzel;
        src: url(polices/Cinzel-Regular.ttf);
    }

/*=============================================================================================================================================== 
=                                                           CSS POUR PETIT ECRAN                                                                =
=================================================================================================================================================*/

@media screen and (max-width: 428px) {
        
    body{
        font-family: 'Montserrat';
        font-size: 10px;
        color: #000;
        text-align: center;
    }

    h1{
        font-size: 48px;
        font-family: "Cinzel";
    }

    
    h2{
        font-size: 16px;
        font-family: "Cinzel";
        text-transform: uppercase;
    }

    h3{
        font-size: 13px;
        font-weight: bold;
    }
        
        .acceuil{ /*Css de la page d'acceuil*/
        
        }
        
        .discipline{ /*Css de la page de Discipline*/
            
        }
        
        .epreuve{ /*Css de la page d'épreuve*/
                
            /*Modifications générales*/
        
            table{
                border-collapse: collapse;
                
            }
        
            thead{
                background-color: #FFE26E;
            }
            tbody{
                background-color: #fff;
            }
            th,td{
                border: 1px solid #000;
            }
        
        
            /*Modifications liées au Titre*/
        
        
             section>div:first-of-type{
                background-image: url("images/epreuve/image_titre.webp");
                background-size: cover;
                color: #fff;
                position: relative;
            }
            h1:first-of-type::first-letter{
                font-family: "Amoresa";
            }
             section>div:first-of-type>h1:nth-of-type(2){
                font-size: 32px;
            }
        
            /*Modifications liées à la présentation de l'épreuve et du site */
        
             section>div:nth-of-type(2){
                width: 100%;
                position: relative;
                top: -2.7em;
            }
             section>div:nth-of-type(2)>img{
                width: 95%;
                height: auto;
                position: relative;
                top:28em;
                z-index: 0;
            }
             section>div:nth-of-type(2)>img:nth-of-type(2){
                display: none;
            }
             section>div:nth-of-type(2)>div{
                background-color: #141E61;
                width: 54%;
                height: 25%;
            }
             section>div:nth-of-type(2)>div:first-of-type{
                width: 66%;
                position: absolute;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(2){
                background-color: #fff;
                width: 40%;
                height: 52%;
                position: absolute;
                left: 62% ;
                border-radius: 25px;
            }
             section>div:nth-of-type(2)>div:nth-of-type(2)>img{
                width: 80%;
                height: auto;
                position: relative;
                top: 15%;
                z-index: 1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(3){
                position: absolute;
                top: 47%;
                left:48.2%;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(4){
                position: absolute;
                top: 58%;
                left: 48.2%;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(5){
                position: absolute;
                left: 0;
                top:125%;
                z-index: -2;
        
            }
             section>div:nth-of-type(2)>article:first-of-type{
                width: 95%;
                height: 68%;
                position: absolute;
                top: 20px;
                background-color: #fff;
                border-radius: 25px;
            }
             section>div:nth-of-type(2)>article:first-of-type>h2{
                width: 39%;
                position: relative;
                left: 17%;
                top: 10%;
            }
             section>div:nth-of-type(2)>article:first-of-type>p{
                width: 70%;
                position: relative;
                left: 2%;
                top: 25%;
            }
        
        
             section>div:nth-of-type(2)>article:nth-of-type(2){
                width: 98%;
                height: 68%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                left:20px;
                top: 78%;
                border-radius: 25px;
                background-color: #fff;
                z-index: -1;
            }
             section>div:nth-of-type(2)>article:nth-of-type(2)>h2{
                width: 58%;
                position: relative;
                left: 27%;
            }
             section>div:nth-of-type(2)>article:nth-of-type(2)>div{
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                position: relative;
            }
        
             section>div:nth-of-type(2)>article:nth-of-type(2)>div>img{
                width: 90%;
                height: auto;
                position: relative;
                left: 2%;
                top: 15%;
                margin: 1em;
            }
        
             section>div:nth-of-type(2)>article:nth-of-type(2)>div>p{
                width: 110%;
            }
        
            
            /*Modifications liées à l'explication du Déroulement de l'épreuve*/
        
             section>article:first-of-type>div{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 28em;
            }
             section>article:first-of-type>div>h2{
                margin: 0;
            }
             section>article:first-of-type>div> hr{
                color: #F50022 ;
                background-color: #F50022;
                width:77%;
                height: 2px;
                border: solid;
            }
        
             section>article:first-of-type>div>p{
                width: 68%;
            }
        
             section>article:first-of-type+img{
                display: none;
            }
        
            
            /*Modifications liées au podium*/
        
        
             section>div:nth-of-type(3){
                position: absolute;
                top: 140em;
                width: 100%;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>h2{
                margin: 0;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div{
                border-radius: 10px;
                width: 26%;
                height: 15em;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 15px 15px 0;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>img{
                width: 18%;
                height: auto;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>div{
                font-size: 13px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:first-of-type{
                background-color: #FFE26E;
            }
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:nth-of-type(2){
                background-color: #A2D3FD;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:nth-of-type(3){
                background-color: #AD5655;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>figure{
                width: 25%;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>figure>img{
                width: 100%;
                height: auto;
            }
        
             section>div:nth-of-type(3)>div:first-of-type{
                background-color: #141E61;
                width: 90%;
                height: 20em;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                border-radius: 10px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2){
                background-color: #fff;
                width: 90%;
                height: 20em;
                position: absolute;
                left: 1em;
                top: 1em;
                z-index: 0;
                border-radius: 10px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(3){
                background-color: #F50022;
                width: 90%;
                height: 20em;
                position: absolute;
                left: 2em;
                top: 2em;
                z-index: -2;
                border-radius: 10px;
            }
        
            /*Modifications liées au tableau des résultats*/
             section>article:nth-of-type(2){
                display: flex;
                flex-direction: column;
                align-content: center;
                position: relative;
        
            }
        
             section>article:nth-of-type(2)>h2{
                margin: 0;
                width: 54%;
                height: 44px;
                position: relative;
                left: 22%;
                top: 35em;
            }
        
             section>article:nth-of-type(2)> hr{
                background-color: #141E61;
                color: #141E61;
                width: 59%;
                height: 4px;
                position: relative;
                top: 55.5em;
            }
        
             section>article:nth-of-type(2)>div>table{
                margin: 30px;
            } 
        
             section>article:nth-of-type(2)>div:first-of-type{
                width: 86%;
                height: 230px;
                position: relative;
                left: 7%;
                top: 55em;
                background-color: #fff;
                z-index: -1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-radius: 10px;
            }
        
             section>article:nth-of-type(2)>div:nth-of-type(2){
                background-color: #141E61;
                width: 27%;
                height: 100px;
                position: absolute;
                left: 2%;
                top: 75em;
                z-index: -2;
            }
        
             section>article:nth-of-type(2)>div:nth-of-type(3){
                background-color: #141E61;
                width: 27%;
                height: 100px;
                position: absolute;
                left: 71%;
                top: 75em;
                z-index: -2;
            }
        
            /*Modifications liées au Moments Forts de l'épreuve*/
        
             section>article:nth-of-type(3){
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #141E61;
                width: 100%;
                height: 38em;
                position: relative;
                top: 60em;
                z-index: -2;
            }
        
             section>article:nth-of-type(3)>h2{
                color: #fff;
                width: 39%;
                position: absolute;
                left: 57%;
                top: 10%;
            }
        
             section>article:nth-of-type(3)>div{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        
             section>article:nth-of-type(3)>div>figure{
                width: 200px;
                height: 140px;
            }
        
             section>article:nth-of-type(3)>div>div{
                background-color: #F50022;
                width: 24%;
                height: 18%;
            }
        
             section>article:nth-of-type(3)>div>div:first-of-type{
                position: absolute;
                left: 0;
                top: 5%;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(2){
                position: absolute;
                left: 34%;
                top: 32%;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(3){
                position: absolute;
                left: 45%;
                bottom: 7%;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(4){
                position: absolute;
                right: 0px;
                top: 48%;
                z-index: -1;
            }
        
             section>article:nth-of-type(3)>div>img{
                width: 44%;
                height: auto;
                position: absolute;
                left: 0px;
                top: 50%;
            }
        
             section>article:nth-of-type(3)>div>figure>img{
                width:47% ;
                height:36% ;
                position: absolute;
                left: 10px;
                top: 30px;
            }
        
             section>article:nth-of-type(3)>div>video{
                width: 47%;
                height: 36%;
                position: absolute;
                left: 50%;
                top: 200px;
            }
        
            /*Modifications liées aux Récapitulatif des records*/
        
             section>article:nth-of-type(4){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                position: relative;
                top: 80em
            }
        
             section>article:nth-of-type(4)>h2{
                width: 88%;
                margin: 0;
                position: relative;
                top: -10em;
            }
        
             section>article:nth-of-type(4)>div>table{
                width: 93%;
                height: 90%;
                margin: 4vh;
                margin-top: 6vh;
            }
        
             section>article:nth-of-type(4)>div:first-of-type{
                background-color: #fff;
                width: 88%;
                position: relative;
                top: -15em;
                z-index: -1;
                border-radius: 10px;
            }
        
             section>article:nth-of-type(4)>div:nth-of-type(2){
                background-color: #F50022;
                width: 88%;
                height: 80%;
                position: absolute;
                left: 10%;
                top:-9em;
                border-radius: 10px;
                z-index: -2 ;
            }
        
             section>article:nth-of-type(4)>img{
                display: none;
            }
        
            /*Modifications liées au footer*/
        
            footer{
                position: relative;
                top: 70em;
                border: 1px solid;
            }
                }

        .profil{ /*Css de la page de profil*/
            header {
                background-color: #141E61;
                padding: 0 1rem 0.5rem 0.5rem;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 0 0 25px 25px;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: left;
            }
        
            header img {
                height: 8em;
                padding: 0.3em;
                margin-right: 22%;
            }
        
            header nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                gap: 18%;
            }
        
            header nav ul li a {
                text-decoration: none;
                color: white;
                font-size: 3em;
                transition: color 0.3s;
            }
        
            header nav ul li a:hover {
                color: #FFE26E;
            }
        
            header + * {
                margin-top: 5%;
            }
            /**********************************************************************/
            /*mise en forme des images*/
            /**********************************************************************/
        
            main {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        
            .section1 > img { /*image des médailles*/
                position: absolute;
                top: 100%;
                bottom: -130px;
                left: 60%;
                width: 500px;
                height: 150px;
                transition: all 0.2s linear; 
            }
        
            .section1 > img:hover {
                transform: scale(1.5) ;
            }
        
            .drapeau_france{ /*image du drapeau francais circulaire*/
                width: 250px;
                height: 250px;
                position: relative;
                left: -10%;
            }
        
            section > figure > img:last-child { /*image du logo de natation*/
                width: 360px;
                height: 250px;
                position: relative;
                left: -200px;
            }
        
            section > nav > img { /*groupe des images de insta, facebook et hashtag*/
                width: 75px;
                height: 75px;
                position: relative;
                left: 5%;
            }
        
            /**********************************************************************/
            /*mise en forme de la premiere section*/
            /**********************************************************************/
        
            .section1{ /*image de léon marchand*/
                position: relative; /*permet de ne pas influer sur le positionnement des autres éléments*/
                background-color: #141E61;
                height: auto;
                width: 100%;
                background-image: url(images/profil/Léon_marchand.png); /*image de léon marchand*/
                background-repeat: no-repeat;
                background-size: 60% 100%;       /*width puis height*/
                background-position: right; /*permet de */
                margin-bottom: 20%;
                margin-top: 150px;
            }
        
            .image_Léon {
                display: none;
            }
        
            .section1 > figure { /*images de le france et natation*/
                display: flex;
                flex-direction: column; /*permet d'influer sur la direction des éléments, ils sont tous en colonne*/
                justify-content: center; /*place les éléments au milieu du bloc parent*/
                position: relative; /*place précisement les éléments*/
                bottom: -30%;
                left: 15%;
                padding: 10px;
            }
        
            .section1 > nav { /*images des logos insta et tout*/
                display: flex;
                flex-direction: row; /*permet d'influencer sur la direction des éléments, ils sont tous en ligne*/
                position: relative;
                left: 0%;
                bottom: -40%;
            }
        
            .section1 > figure > img { /*images de la france et du logo de la natation*/
                padding: 20px; /*espace les éléments entre eux*/
            }
        
            .section1 > nav > img { /*images insta, facebook et hashtag*/
                padding: 30px; /*espace les éléments entre eux*/
            }
        
            .section1 > h1 { /*titre leon marchand*/
                position: relative;
                bottom: 10px;
                color: white;
                font-size: 128px;
                font-weight: bolder;
                padding: 3px;
                left: 10%;
                font-family: 'Cinzel', serif;
            }
        
            .section1 > h1::first-letter { /*premiere lettre du titre*/
                font-family: 'Monsieur La Doulaise', cursive;
                font-size: 180px;
            }
        
            .section1 > img:hover {
                transform: scale(1.5) translateY(25px) ;
            }
        
            /**********************************************************************/
            /*mise en forme de la deuxième section*/
            /**********************************************************************/
        
            .section2 { /*classe définissant la deuxième section*/
                position: relative;
                margin-top: 50px;
                z-index: 1; /*pour mettre en avant plan car les autres parties se saccadet*/
                background-color: #141E61;
                padding: 10px;
                margin-bottom: 5%;
            }
        
            .section2 > h2 { /*sous titre de la deuxième partie*/
                display: flex;
                justify-content: center;
                font-variant: small-caps;
                color: #fff;
                font-weight:bold;
                font-size: 128px;
                font-family: 'Cinzel', serif;
            }
        
            .section2 > article { /*article de la deuxième partie*/
                position: relative;
                height: auto;
                width: 90%;
                z-index: 1;
                background-color: #fff;
                border-radius: 65px;
                margin-left: 2%;
                padding: 50px;
                margin-bottom: 60px;
            }
        
            .section2 > article > h3 { /*sous-titre de la deuxième partie*/
                font-size: 100px;
            }
        
            .section2 > article > h3 + p { /*paragraphe de la deuxième partie*/
                font-size: 36px;
                text-align:left;
                position: relative;
                left: 3%;
                margin: 40px;
            }
        
            .section2 > article > h3 + ul + h3 {
                position: relative;
                left: 3%;
            }
        
        
            .section2 > article > ul > li { /*liste de l'article de la dexième partie*/
                font-size: 36px;
            }
        
            .block_rouge1, .block_rouge2, .block_rouge3, .block_rouge4 {
                position: absolute; /* Positionnement absolu relatif à .section2 */
                background-color: red;
                min-width: 300px;
                width: 600px; /* Largeur des carrés */
                height: 200px; /* Hauteur des carrés */
            }
        
            .block_rouge1 { /*mise en place des blocks rouges en arrière plan*/
                top: 17%;
                left: 30px;
            }
        
            .block_rouge2 {
                bottom: 30px;
                left: 30px;
            }
        
            .block_rouge3 {
                top: 17%;
                right: 20px;
            }
        
            .block_rouge4 {
                bottom: 30px;
                right: 20px;
            }
        
            /**********************************************************************/
            /*mise en place de la 3eme section, club de sport*/
            /**********************************************************************/
        
            .section3 { /*classe définissant la troisième partie*/
                position: relative;
                margin-top: 10%;
                margin-bottom: 10%;
                margin-left: 1%;
                background-color: #fff;
                border: 15px solid black;
                background-image: url(images/profil/club_dauphins_TOEC.png);
                background-position: right;
                background-repeat: no-repeat;
                background-size: 40% 100%; /*image redimmensionné proportionnellement*/
                height: auto;
                width: 96%;
        
            }
        
            .section3 > article {
                position: relative;
                z-index: 5;
            }
        
            .section3 > article > div {  /*conteneur de l'image*/
                display: flex; /*conteneur de l'image en flex pour pouvoir placer l'image au milieu*/
                justify-content: center;
                align-items: center;
                margin-top: 10px; 
            }
        
            .section3 > article > div > img { /*image du dauphin du TOEC*/
                position: absolute;
                z-index: -1;
                width: 20%; 
                height: 80%;
                top: 1%;
            }
        
            section > article > h2 { /*sous-titre de la troisième partie*/
                position: relative;
                left: 4%;
                font-size: 128px;
                font-family: 'Cinzel', serif;
            }
        
            section > article > h2 + h3 {
                position: relative;
                left: 2%;
                font-size: 100px;
            }
        
            section > article > h2 + h3 + p {
                position: relative;
                left: 2%;
                width: 40%;
                font-size: 36px;
            }
        
            .block_bleu1, .block_bleu2 {
                position: absolute; /* Positionnement absolu relatif à .section2 */
                z-index: -1;
                background-color: #141E61;
                width: 50%; /* Largeur des carrés */
                height: 40%; /* Hauteur des carrés */
            }
            .block_bleu1 {
                bottom: -7%;
                right: -2%;
            }
        
            .block_bleu2 {
                top: -7%;
                left: -2%;
            }
        
            /**********************************************************************/
            /*mise en place du titre et de la 4eme partie*/
            /**********************************************************************/
        
            .separateur {
                background-color: #141E61;
                margin-top: 3%;
                width: 95%;
                padding: 2em;
                height: 20em;
                display: flex;
                justify-content: center;
                background-image: url(images/header/logo_flamme_JO.png);
                background-repeat: no-repeat;
                background-position: right;
                background-size: 200px 150px;
                color: #fff;
                margin-left: 1%;
            }
        
            .separateur >  h2 {
                color: #fff;
                font-size: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Cinzel', serif;
            }
        
            section > article > table {
                position: relative;
                left: 5%;
                margin-top: 5%;
                width: 60%;
                height: 100px;
                border: 5px solid black;
            }
        
            .article1 > img {
                position: absolute;
                width: 10%;
                height: 1150px;
                right: 5%;
                top: 3800px;
            }
        
            th {
                height: 3em;
                width: 1em;
            }
        
            td {
                height: 3em;
                width: 3em;
                font-size: 38px;
                text-align: center;
                border: 1px solid black;
            }
        
            .article1 > table > thead > tr > th + th + th + th {
                background-color: #AD5655;
                background-image: url(images/profil/medaille_3.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;
                height: 200px;
                width: 400px;
            }
        
            .article1 > table > thead > tr > th + th + th {
                background-color: #AD5655;
                background-image: url(images/profil/medaille_2.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;
                height: 200px;
                width: 400px;
            }
        
            .article1 > table > thead > tr > th + th {
                background-color: #AD5655;
                background-image: url(images/profil/medaille_1.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;
                height: 200px;
                width: 300px;
            }
        
            .article1 > table > thead > tr > th + th + th {
                background-color: #A2D3FD;
            }
        
            .article1 > table > thead > tr > th + th {
                background-color: #FFE26E;
            }
        
            .table2 {
                display: none;
            }
        
            td > video {
                height: 200px;
                width: 300px;
                position: relative;
                left: 1%;
                margin: 20px;
            }
        
            /**********************************************************************/
            /*mise en place de la 5eme partie*/
            /**********************************************************************/
        
            .section5 {
                display: flex;
                flex-direction: column; /* Aligne les éléments en colonne */
                justify-content: center; /* Centre les éléments verticalement */
                align-items: center; /* Centre les éléments horizontalement */
                width: 100%; /* Prend toute la largeur de la page */
                height: auto; /* Prend toute la hauteur de la page */
                padding: 20px; /* Optionnel, ajoute un peu d'espace autour des éléments */
            }
        
            .section5 > article {
                margin-top: 200px;
                background-color: #141E61;
                height: auto;
                color: #fff;
                width: 1000px;
                height: auto;
                margin-bottom: 50px;
            }
        
            .section5 > article > video {
                width: 500px; /* Ajuste la largeur pour qu'elle s'adapte */
                height: 300px;
                background-color: black;
                position: absolute;
                left: 45%;
                margin-top: 50px;
            }
        
            .section5 > article > p {
                font-size: 36px;
                position: relative;
                margin: 10%;
            }
        
            .section5 > article > h3 {
                font-size: 100px;
                top: 10%;
            }
        
            .section5 > article > p + h3 + p {
                font-size: 38px;
            }
        
            .section5 > img {
                position: absolute;
                z-index: -1;
                height: 80%;
                top: 50%;
                left: -100%;
            }
        
        /**********************************************************************/
        /*mise en place de la 5eme partie*/
        /**********************************************************************/
        
        footer div > img {
            max-width: 100%;
            height: auto;
        }
        
        @media screen and (max-width: 428px) {
            footer {
            }
        }
        
        
        @media screen and (min-width: 429px) {
            footer {
                background-color: #141E61;
                border-radius: 25px 25px 0 0;
                display: flex;
                gap: 8%;
                padding: 2%;
            }
        
            footer p {
                color: white;
            }
        
            footer div > p {
                margin-top: auto;
            }
        
            footer div {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
        
            footer > div:nth-of-type(1) > img:nth-of-type(1) {
                height: 12%;
                width: min-content;
                margin-top: 15%;
            }
        
            footer > div:nth-of-type(2) {
                align-items: center;
            }
        
            footer > div:nth-of-type(2) > img:nth-of-type(1) {
                width: 70%;
                height: auto;
            }
        
            footer > div:nth-of-type(3) {
                flex-direction: row;
                gap: 4%;
            }
        
            footer > div:nth-of-type(3) > img:nth-of-type(1) {
                height: 40%;
                width: auto;
                margin-top: auto;
            }
        
            footer > div:nth-of-type(3) > div {
                margin-right: 10%;
            }
        
            footer > div:nth-of-type(3) > div > p {
                margin-left: auto;
            }
        }
        }
}

/*=============================================================================================================================================== 
=                                                           CSS POUR ECRAN LARGE                                                                =
=================================================================================================================================================*/

        
@media screen and (min-width: 429px) {

        body{
                font-family: 'Montserrat';
                font-size: 16px;
                color: #000;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between  ;
                align-items: center;    
        }
        
        h1{
                font-size: 128px;
                font-family: "Cinzel";
         }
            
         h2{
                font-size: 48px;
                font-family: "Cinzel";
                text-transform: uppercase;
        }
        
        h3{
                font-size: 36px;
                font-family: "Cinzel";
                font-weight: bold;
        }
        
        header {
            background-color: #141E61;
            padding: 0 1rem 0.5rem 0.5rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 0 0 25px 25px;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: left;
        }

        header img {
            height: 5em;
            padding: 0.3em;
            margin-right: 22%;

        }

        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 18%;
        }

        header nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 2em;
            transition: color 0.3s;
        }

        header nav ul li a:hover {
            color: #FFE26E;
        }

        header + * {
            margin-top: 5%;
        }
        
        .acceuil{ /*Css de la page d'acceuil*/
        
        }
        
        .discipline{ /*Css de la page de Discipline*/
            
        }
        
        .epreuve{ /*Css de la page d'épreuve*/
                  
            /*Modifications générales*/
        
            table{
                border-collapse: collapse;
                
            }
        
            thead{
                background-color: #FFE26E;
            }
            tbody{
                background-color: #fff;
            }
            th,td{
                border: 1px solid #000;
            }
        
            /*Modifications liées au Titre*/
        
             section>div:first-of-type{
                background-image: url("images/epreuve/image_titre.webp");
                background-size: cover;
                color: #fff;
                height: 895px;
                width: 100%;
            }
            h1:first-of-type::first-letter{
                font-family: "Amoresa";
            }
             section>div:first-of-type>h1:nth-of-type(2){
                font-size: 110px;
                position: relative;;
                bottom: 0;
            }
        
            /*Modifications liées à la présentation de l'épreuve et du site */
        
             section>div:nth-of-type(2){
                display: flex;
                flex-direction: row;
                width: 100%;
                position: relative;
            }
             section>div:nth-of-type(2)>img:first-of-type{
                display: none;
            }
             section>div:nth-of-type(2)>img{
                width: 30%;
                height: 100%;
            }
             section>div:nth-of-type(2)>div{
                background-color: #141E61;
                width: 25%;
                height: 45%;
            }
             section>div:nth-of-type(2)>div:first-of-type{
                position: absolute;
                top: 0;
                left:0;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(2){
                display: none;
            }
             section>div:nth-of-type(2)>div:nth-of-type(3){
                position: absolute;
                top:70%;
                left: 15%;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(4){
                position: absolute;
                left: 60%;
                top: 70%;
                z-index: -1;
            }
             section>div:nth-of-type(2)>div:nth-of-type(5){
                position: absolute;
                right: 0;
                top:0;
                z-index: -1;
        
            }
             section>div:nth-of-type(2)>article:first-of-type{
                width: 44%;
                height: auto;
                position: relative;
                left:0;
                top: 30px;
                background-color: #fff;
                border-radius: 25px;
            }
             section>div:nth-of-type(2)>article:first-of-type>p{
                width: 90%;
            }
             section>div:nth-of-type(2)>article:nth-of-type(2){
                width: 44%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                left: 0;
                top: 30px;
                border-radius: 25px;
                background-color: #fff;
            }
        
             section>div:nth-of-type(2)>article:nth-of-type(2)>div{
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                width: 100%;
                height: 56%;
            }
             section>div:nth-of-type(2)>article:nth-of-type(2)>div>p{
                width: 59%;
                height: 75%;
            }
        
             section>div:nth-of-type(2)>article:nth-of-type(2)>div>img{
                width: 41%;
                height: auto;
                margin: 1em;
            }
             section>div:nth-of-type(2)>article:nth-of-type(2)>div>img:hover{
                width: 70%;
            }
        
            
            /*Modifications liées à l'explication du Déroulement de l'épreuve*/
        
             section>article:first-of-type>div{
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                
                margin-top: 200px;
            }
             section>article:first-of-type>div>h2{
                margin: 0;
            }
             section>article:first-of-type>div> hr{
                color: #F50022 ;
                background-color: #F50022;
                width:54%;
                height: 10px;
                border: solid;
            }
        
             section>article:first-of-type>div>p{
                width: 700px;
            }
        
             section>article:first-of-type+img{
                width: 16%;
                height: auto;
                position: absolute;
                right: 0;
                top: 1700px;
            }
        
            /*Modifications liées au podium*/
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>h2{
                margin: 0;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div{
                border-radius: 10px;
                width: 18vw;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2vh 4vw 0;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>img{
                width: 55px;
                height: 55px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>div{
                font-size: 36px;
                margin: 10px 0;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:first-of-type{
                background-color: #FFE26E;
            }
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:nth-of-type(2){
                background-color: #A2D3FD;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div:nth-of-type(3){
                background-color: #AD5655;
            }
        
             section>div:nth-of-type(3)>div:nth-of-type(2)>article>div>div>figure>img{
                width: 90px;
                height: 90px;
            }
        
             section>div:nth-of-type(3)>div:first-of-type{
                background-color: #141E61;
                width: 80%;
                height: 500px;
                position: absolute;
                z-index: -1;
                left: 8%;
                margin-top: 30px;
                border-radius: 10px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(2){
                background-color: #fff;
                width: 80%;
                height: 500px;
                position: absolute;
                z-index: 0;
                left: 10%;
                margin-top: 60px;
                border-radius: 25px;
            }
             section>div:nth-of-type(3)>div:nth-of-type(3){
                background-color: #F50022;
                width: 80%;
                height: 500px;
                position: absolute;
                z-index: -2;
                left: 12%;
                margin-top: 90px;
                border-radius: 10px;
            }
        
            /*Modifications liées au tableau des résultats*/
        
             section>article:nth-of-type(2){
                display: flex;
                flex-direction: column;
                align-content: center;
                margin-top: 40em;
                width: 100%;
                height: auto;
                position: relative;
            }
        
             section>article:nth-of-type(2)>h2{
                margin: 0;
                width: 48%;
                height: 15vh;
                position: relative;
                left: 26%;
                margin-bottom: 4vh;
            }
        
             section>article:nth-of-type(2)> hr{
                background-color: #141E61;
                width: 54%;
                height: 9px;
                position: relative;
                left: 0;
            }
        
             section>article:nth-of-type(2)>div>table{
                width: 95%;
                height: 90%;
                margin: 30px;
                margin-top: 3vh;
            }
        
             section>article:nth-of-type(2)>div:first-of-type{
                width: 80%;
                height: 40vh;
                position: relative;
                background-color: #fff;
                z-index: -1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-radius: 10px;
                left: 10%;
            }
        
             section>article:nth-of-type(2)>div:nth-of-type(2){
                background-color: #141E61;
                width: 25%;
                height: 15vh;
                position: absolute;
                left: 8%;
                top: 80%;
                z-index: -2;
            }
        
             section>article:nth-of-type(2)>div:nth-of-type(3){
                background-color: #141E61;
                width: 25%;
                height: 15vh;
                position: absolute;
                z-index: -2;
                top: 80%;
                right: 8%;
            }
        
            /*Modifications liées au Moments Forts de l'épreuve*/
        
             section>article:nth-of-type(3){
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #141E61;
                width: 100%;
                height: 60vh;
                position: relative;
                z-index: -2;
                margin-top: 8em;
            }
        
             section>article:nth-of-type(3)>h2{
                color: #fff;
                width: 31%;
                height: 2vh;
                position: absolute;
                left: 32.5%;
                top: -10px;
            }
        
             section>article:nth-of-type(3)>div{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        
             section>article:nth-of-type(3)>div>figure{
                width: 33%;
                height: 3vh;
            }
        
             section>article:nth-of-type(3)>div>div{
                background-color: #F50022;
                width: 14%;
                height: 18vh;
            }
        
             section>article:nth-of-type(3)>div>div:first-of-type{
                position: absolute;
                left: 2%;
                top: 6vh;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(2){
                position: absolute;
                left: 25%;
                top: 36vh;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(3){
                position: absolute;
                right: 29%;
                top: 36vh;
                z-index: -1;
            }
             section>article:nth-of-type(3)>div>div:nth-of-type(4){
                position: absolute;
                left: 80% ;
                top: 6vh;
                z-index: -1;
            }
        
             section>article:nth-of-type(3)>div>img{
                width: 20%;
                height: auto;
                position: absolute;
                left: 38.5%;
                top: 20vh;
                z-index: -1;
            }
        
             section>article:nth-of-type(3)>div>figure>img{
                width:33% ;
                height:40vh ;
                position: absolute;
                left: 4%;
                top: 10vh;
            }
        
             section>article:nth-of-type(3)>div>video{
                width: 33%;
                height: 40vh;
                position: absolute;
                right: 8%;
                top: 10vh;
            }
        
            /*Modifications liées aux Récapitulatif des records*/
        
             section>article:nth-of-type(4){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 20px;
                width: 100%;
            }
        
             section>article:nth-of-type(4)>h2{
                width: 90%;
                margin: 0;
            }
        
             section>article:nth-of-type(4)>div>table{
                width: 90%;
                height: 90%;
                margin-top: 6v;
                margin-left:  5vh;
            }
        
             section>article:nth-of-type(4)>div:first-of-type{
                background-color: #fff;
                width: 62.5%;
                height: 45vh;
                position: relative;
                z-index: -1;
                left: 0%;
                top: 0%;
                border-radius: 25px;
                margin-top: 18vh;
            }
        
             section>article:nth-of-type(4)>div:nth-of-type(2){
                background-color: #F50022;
                width: 62.5%;
                height: 45vh;
                position: absolute;
                border-radius: 10px;
                left: 21%;
                top: 25%;
                z-index: -2 ;
                margin-top: 20vh;
            }
        
             section>article:nth-of-type(4)>img{
                width: 17%;
                height: auto;
                position: absolute;
                left: 0;
                top: 40%;
            }
        
            /*Modifications liées au footer*/
        
            footer{
                position: relative;
            }
        }
        
        .profil{ /*Css de la page de profil*/
        
        }
    footer {
        background-color: #141E61;
        border-radius: 25px 25px 0 0;
        display: flex;
        gap: 8%;
        padding: 2%;
    }

    footer p {
        color: white;
    }

    footer div > p {
        margin-top: auto;
    }

    footer div {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    footer > div:nth-of-type(1) > img:nth-of-type(1) {
        height: 12%;
        width: min-content;
        margin-top: 15%;
    }

    footer > div:nth-of-type(2) {
        align-items: center;
    }

    footer > div:nth-of-type(2) > img:nth-of-type(1) {
        width: 70%;
        height: auto;
    }

    footer > div:nth-of-type(3) {
        flex-direction: row;
        gap: 4%;
    }

    footer > div:nth-of-type(3) > img:nth-of-type(1) {
        height: 40%;
        width: auto;
        margin-top: auto;
    }

    footer > div:nth-of-type(3) > div {
        margin-right: 10%;
    }

    footer > div:nth-of-type(3) > div > p {
        margin-left: auto;
    }
}
