/*polices et taille de police pour pc*/

body{
    font-family: montserrat;
    font-size: 16;
    color: #000;
}

.Titre{
    background-image: url("images/image_titre.png");
    background-repeat: no-repeat;
    color: #fff;
    height: 895px;
}
h1{
    font-size: 128;
    font-family: Amoresa; src:"polices/Amoresa.ttf";
}
.Titre>h1:nth-of-type(2){
    font-size: 110;
    font-family: Cinzel; src:"polices/Cinzel-Regular.otf"
}

h2{
    font-size: 48;
    font-family: Cinzel; src:"polices/Cinzel-Regular.otf"
}

h3{
    font-size: 36;
    font-weight: bold;
}

main {
    width: 1440px;
    height: auto;
}

/*mise en forme des images*/

section > img:first-of-type {
    float: right;
    width: 936px;
    height: 872px;
}

section > figure > img:first-child {
    width: 209px;
    height: 204px;
}

section > figure > img:last-child {
    width: 246.28px;
    height: 135px;
}

section > nav > img {
    width: 72px;
    height: 72px;
}


/*mise en forme*/
header {
    background-color: #141E61;
}

header > nav > ul >li {
    display: inline-block;
}

nav> nav > ul >li>a {
    color: white;
    list-style-type: none;
}

