main {
    width: 1440px;
    height: auto;
}

/*mise en forme des images*/

section > img:first-of-type {
    float: right;
    width: 936px;
    height: 872px;
}

section > figure > img:first-child {
    width: 209px;
    height: 204px;
}

section > figure > img:last-child {
    width: 246.28px;
    height: 135px;
}

section > nav > img {
    width: 72px;
    height: 72px;
}



/*mise en place du header*/


header {
    background-color: #141E61;
    width: 1440px;
    height: 60px;
    background-image: url(images/flamme_JO.png);
    background-repeat: no-repeat;
    background-size: 55px 55px;
    background-position: 3px;
}

header > section > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    padding: 69px;
    font-family: 'Montserrat', arial, sans-serif ;
}

header > section > nav > ul > li > a:hover{
    background-color: white;
    color: #141E61;
}

header > section > nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

/*header > section > img {
    width: 55px;
    height: 50px;
    position: relative;
    left: 1px;
    top: 2px;
}*/



/*mise en forme de la premiere section*/



.coucou1{ /*image de léon marchand*/
    position: absolute;
    background-color: #141E61;
    height: auto;
    width: 1200px;
    background-image: url(images/leon_marchand_2.png);
    background-repeat: no-repeat;
    background-size: 700px 900px;       /*width puis height*/
    background-position: bottom right;
}

.coucou1 > figure { /*images de le france et natation*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 70px;
    left: 70px;
}

.coucou1 > nav { /*images des logos insta et tout*/
    display: flex;
    flex-direction: row;
    position: relative;
    left: 45px;
}

.coucou1 > figure > img {
    padding: 20px;
}

.coucou1 > nav > img {
    padding: 30px;
}

.coucou1 > h1 { /*titre leon marchand*/
    position: relative;
    bottom: 10px;
    color: white;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 3px;
}

.coucou1 > h1::first-letter {
    font-family: fantasy;
}


