/*CSS valable sur toute la feuille*/

main{
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    width: 100%;
    height: 1100px;
    background-image: url(images/discipline/image_titre.png);
    font-size: 128;
}

h2{
    font-size: 48px;
    font-family: Cinzel; src:"polices/Cinzel-Regular.otf";
    text-transform: uppercase;
}

h3{
    font-size: 36px;
    font-style: bold;
}

p{
    font-size: 16px;
}

li{
    font-size: 16px;
    list-style-type:none;
}


main{
    width: 100%;
    background-color: blanchedalmond;
}

article{
    display: flex;
}

section{
    margin-top: 40px;
    margin-bottom: 40px;
}

.surligner{
    font-size: 25px;
    color: #f50022;
}


/*CSS valable sur la peemière partie : Histoire*/

section:nth-of-type(2) div{
    margin:20px;
    padding:20px;
    width: 60%;
    background-color: white;
    z-index: 2;
}

section:nth-of-type(2) > article:first-of-type > img {
    flex-shrink: 0;
}

section:nth-of-type(2) > article:first-of-type > img:first-child{
    z-index: 1;
}

section:nth-of-type(2) > article:first-of-type > img:nth-of-type(2){
    z-index: 3;
}



/*CSS valable sur la deuxième partie : Règles*/
/*arrondir les coins*/
section:nth-of-type(3){
    display:flex;
    background-color: #141E61;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    height: 654px;
}

section:nth-of-type(3) > div:first-child {
    margin: 80px;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: white;
    width: 1013px;
    height: 572px;
    padding-bottom: 30px;
}

section:nth-of-type(3) > div > p{
    width: 80%;
}

section:nth-of-type(3) > img{
    align-self: flex-end;
}

section:nth-of-type(3) > div:not(div:first-child){
    display: flex;
    align-self: flex-start;
    width: 200px;
    height: 200px;
    background-color: #f50022;
}



/*CSS valable sur la troisième partie : Techniques*/

section:nth-of-type(4){
    display: flex;
    flex-direction: row;
    background-color: #4F7FC2;
}

section:nth-of-type(4)> img {
    align-self: flex-end;
    margin-left:0px;
    margin-right: 0px;
    width: 30%;
    height: 100%;
}

section:nth-of-type(4)> div:nth-of-type(1){ 
    width: 50%;
    padding:5%;
    background-color: #141E61;
    color: #A2D3FD;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

section:nth-of-type(4)> div:nth-of-type(2){ 
    width: 10%;
    background-color: #4F7FC2;
    margin-left:0px;
    margin-right: 0px;

}
section:nth-of-type(4)> div:nth-of-type(3){ 
    width: 10%;
    background-color: #A2D3FD;
    margin-left:0px;
    margin-right: 0px;
}



/*CSS valable sur la quatrième partie : Epreuves*/
/*ajouter les carré rouge autour, centrer le texte*/

section:nth-of-type(5){
    background-color: aliceblue;
    margin-bottom: 100px;
}

section:nth-of-type(5) > div:first-of-type{
    position: absolute;
    left: 7.5%;
    border-style: solid;
    border-color: #f50022;
    border-width: 1px;
    width: 85%;
    height: 142%;
    margin-top: 2%;
}

section:nth-of-type(5) > h2 {
    display: flex;
    justify-self: flex-end;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

section:nth-of-type(5) > div > article > h3{
    color: white;
    padding-left: 40px;
}

section:nth-of-type(5) > div > article:first-of-type > h3{
    text-align:right;
}

section:nth-of-type(5) > div > article {
    display: inline-block;
    width: 42%;
    background-color: #141E61;
    padding-left: 5px;
    padding-right: 40px;
    padding-bottom: 20px;
}

section:nth-of-type(5) > div{
    display: flex;
    justify-content: space-between;
}

section:nth-of-type(5) > div > article > ul > li { 
    display: block;
    padding-left: 18px;
    align-items: center;
    height: 40px;
    margin-bottom: 15px;
    background-color: #A2D3FD;
}



/*CSS valable sur la cinquième partie : Profils*/
/*mettre les deux barres en bas, et les photos des gens*/

section:nth-of-type(6){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section:nth-of-type(6) > div{
    background-image: url(images/discipline/cadre_profil.png);
    padding-left: 12px;
    padding-right: 35px;
    width: 8%;
    flex-shrink: 0;
    background-color: none;
}

section:nth-of-type(6) > div ~p {
    align-items: column;
    font-size: 16px;
}

main > div {
    width: 100%;
}

main > div:first-of-type {
    background-color: #FFE26E;
}

main > div:nth-of-type(2) {
    background-color: #AD5655;
}



/*CSS valable sur la cinquième partie : Tableau*/

section:nth-of-type(7){
    position: relative;
}

section:nth-of-type(7) > div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

table {
    width: 70%;
    margin-right: 20px;
}

tr{
    height: 60px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 15px;
}

table > caption{
    background-color: #B0125E;
    color: white;
    height: 82px;
    margin-bottom: 15px;
    font-size: 36px;
    font-style: bold;
}

table > thead > tr > td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

table > thead > tr > td:nth-of-type(3) {
    background-color: #FFE26E;
    color: #FFE26E;
    border-color: #FFE26E;
}

table > thead > tr > td:nth-of-type(4) {
    background-color: #A2D3FD;
    color: #A2D3FD;
    border-color: #A2D3FD;
}

table > thead > tr > td:nth-of-type(5) {
    background-color: #AD5655;
    color: #AD5655;
    border-color: #AD5655;
}

table > tbody > tr > td{
    background-color: aliceblue;
    border-style: solid;
    border-color: #4F7FC2;
    border-width: 1px;
    border-radius: 25px;
}

section:nth-of-type(7) > img:last-of-type {
    height: 729;
    width: 1943;
    position: absolute;
    top:54%;
    left: -50%;
    z-index: -1;
}
